<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Report</title>
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    </head>

    <script>
        document.addEventListener('htmx:responseError', (event) => {
            const errorElement = document.getElementById('error');
            let response = event.detail.xhr.response;
            let body = response ? response : `Request failed: ${event.detail.xhr.statusText}`;
            htmx.swap(errorElement, body, { swapStyle: "innerHTML" });
        });
    </script>


    <body>
        <h1>Hello!</h1>
        <br>
        <h2>Send us a report:</h2>

        <form 
            hx-post="/mail">
            <input type="text" name="message" placeholder="Report">
            <button>Send!</button>
        </form>

        <!-- Error Message Container -->
        <div id="error" style="color: red;"></div>

    </body>
</html>





