<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    <script>
        document.body.addEventListener('htmx:beforeRequest', function(evt) {
            console.log("HTMX request starting:", evt.detail);
        });
    </script>

</head>


<section hx-ext="response-targets">

    <h1>Hello, honest authorized man! {{.name}}</h1>


    <button hx-swap="outerHTML" hx-target="section" hx-target-4*="section" hx-post="/logout">Logout</button>
    <button hx-swap="outerHTML" hx-target="section" hx-target-4*="section" hx-get="/user">Profile</button>

    {{ if .error }}
    <div class="error">{{ .error }}</div>
    {{ end }}

</section>
